# Compiled
*.elc

# Packaging
.cask
elpa

# Stuff
/straight
backup
autosave
main.el
emacs.el*
.custom.el
.historian
history
recentf
company-statistics-cache.el
*.log
/smex-items
/projectile-bookmarks.eld
*-history
/auto-save-list
/places
/eshell/lastdir
/network-security.data
var/*
/etc/transient/values.el
default-persp
/etc/
/eln-cache
mastodon.plstore
etc/
var/
elpa/
straight/
/cider-repl-history
/*.el
/eln-cache/
/quelpa/
/.cache/
/early-init.elc
/init.elc
/*.el~
/tree-sitter/
/jdtls-cache/
/ellama-sessions/
.aider*
/projects
/personal.el.gpg
/oauth2-auto.plist
/.org-generic-id-locations
/mason/
