# Compiled
*.elc

# Packaging
.cask
elpa

# Stuff
backup
autosave
main.el
emacs.el*
.custom.el
.historian
history
recentf
company-statistics-cache.el
*.log
/smex-items
/projectile-bookmarks.eld
*-history
/auto-save-list
/places
